
/*adv广告*/
.adv{
	width: 100%;
	background: url(../img/adv.jpg) no-repeat center;
	/*background-size: 100% 100%;*/
	height: 90px;
}
.adv a{
	display: block;
	width:100%;
	height:90px;
	cursor: pointer;
}
/*注册登录条*/
.login{
	width:100%;
	height: 30px;
	background: #f2f2f2;
	color:#333;
}
.login_l,.login_c,.login_r{
	height: 30px;
	line-height: 30px;
}
.login_color{
	color:#B81C22;
}
.login a {
	margin-right:20px;
}
.login_l{
	float: left;
}
.user{
	display: inline-block;
	/*float: left;	*/
}
.login_c{
	float: right;
}
.login_r{
	float: right;
}
.login span{
	display: inline-block;
	height:16px;
	width: 16px;
	background: url(../img/icon_index.png) no-repeat;
	vertical-align: middle;
}
.icon_l .icon_home{
	background-position: 0 0;
}
.login_c .icon_user{
	background-position: -80px 0px;
}
.login_c .icon_mob{
	background-position: -160px 0px;
}
.login_r .icon_tel{
	background-position: -240px 0px;
}
/*logo_search*/
.logo_search{
	height: 80px;
	padding-top:24px ;
}
.logo{
	float: left;
}
.logo a{
	display: block;
	width: 198px;
	height: 58px;
	margin: 0 10px;
	background: url(../img/zj-logo.png) no-repeat;
}
.change_img{
	width:118px;
	height:60px;
	float:left;
	margin-left: 10px;
}
/*search_box搜索框*/
.search_box{
	margin-left: 100px;
	float: left;
	width: 505px;	
}
.search{
	width: 505px;	
	margin-top: 10px;
}
.inp{
	height: 34px;
	width: 410px;
	border:3px solid #b81c22;
	float: left;
	padding: 0 5px;
	outline: none;
}
.btn{
	width: 75px;
	height:40px;
	background: #b81c22;float: left;
	float: left;
	color:#fff;
	font-size:16px;
}
/*hotwords*/
.hotWords{
	width: 100%;
	margin: 7px 0px;
	color:#999;
}
.hotWords a{
	margin-left: 10px;
	color:#999;
}
.hotWords a:hover{
	color: #b81c22;
}
/*cart*/
.cart{
	/*width: 140px;
	height: 38px;*/
	/*border:1px solid #e6e3d3;*/
	margin:10px 20px 0px 10px;
	float: right;
	position: relative;
}
.cart_up{
	width: 140px;
	height: 38px;
	border:1px solid #e6e3d3;
	line-height:38px;
	text-align: center;
	position: relative;
	z-index: 999999;
}
.cart_img{
	display: inline-block;
	height:16px;
	width: 16px;
	background: url(../img/icon_index.png) no-repeat;
	vertical-align: middle;
	background-position: 0 -80px;
	margin-right: 5px;
}
.cart_up:hover {
	height:39px;
	/*border:1px solid #aaa;*/
	border-bottom: 0;
	background: #fff;
	cursor:pointer;
}
.cart_down{
	width:278px;
	border:1px solid #e6e3d3;
	/*display: none;*/
	position: absolute;
	right:0px;
	top:39px;
	z-index: 99999;
}
.cartFill h3{
	padding:15px;
	color:#999;
}
/*.cart_up:hover div.cart_down{
	border:1px solid #aaa;
}*/
.cartEmpty{
	padding: 15px 0px 15px 20px;
	height: 40px;
	line-height: 40px;
	color:#999;
}
.icon_cart{
	display: inline-block;
	width: 50px;
	height: 30px;
	vertical-align: middle;
	background: url(../img/icon_index.png) no-repeat -157px -80px;
}
.cartInfo li{
	padding:10px 0px;
	border-top:1px dashed #e8e8e8;
}
.cartInfo li dt{
	float: left;
	margin-right: 10px;
}
.cartInfo li dt img{
	display: block;
	width: 60px;
	height: 60px;
}
.cartRemove{
	float: right;
}
/*nav导航条*/
.icon{
	display: inline-block;
	height:36px;
	width: 30px;
	background: url(../img/icon_index.png) no-repeat;
	vertical-align: middle;
}
.nav{
	height: 40px;
	border-bottom: 2px solid #b81c22;
}
.menu_nav{
	float: left;
}
.menu_one{
	height: 30px;
	background: #b81c22;
	position: relative;
	float: left;
	width:145px;
	padding-left: 55px;
	padding-top:10px;
}
.menu_one>p{
	font-size:14px;
	color:#fff;
}
/*menu_two二级菜单*/
.menu_two{
	position: absolute;
	left:0px;
	top:42px;
	width: 200px;
	z-index: 1000000000;
}
.menu_two_ul li{
	height:59px;
	background: #313131;
	line-height: 59px;
	padding-left:25px;
	border-bottom: 1px dashed #484848;
}
.menu_two_ul li:hover{
	background: #b81c22;
}  
.menu_two_ul li a{
	color:#fff;
	font-size: 14px;
}
.menu_two ul li a:hover{
	cursor: pointer;
}
.mingyoubaijiu{
	background-position: -0px -157px;
}
.putaojiu{
	background-position: -80px -157px;
}
.yangjiu{
	background-position: -160px -157px;
}
.huangjiu{
	background-position: -240px  -157px;
}
.lipinzhuanqu{
	background-position: -320px -157px;
}
.hunqingzhuanyong{
	background-position: -400px -157px;
}
/*menu_three三级菜单*/
.menu_three{
	width: 739px;
	height: 339px;
	border-right: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	position: absolute;
	left:200px;
	top:0px;
	padding:10px 20px;
	background:#fff;
	z-index: 99999999;
	display: none;
}
/*三级菜单左侧*/
.menu_thr_l{
	float: left;
	width:530px;
}
.menu_brand,.menu_species,.menu_origin{
	width:530px;
}
.brand{
	font-size: 14px;
	font-weight: bold;
	color:#000;
	height: 35px;
	line-height: 30px;
	border-bottom:1px solid #313131 ;
}
.brand_name{
	border-top:1px solid #313131;
	width:100%;
	line-height: 30px;
	padding:10px 0px;
}
.brand_name ul li{
	float: left;
	line-height:20px;
	width:85px;
	height:25px;
	padding:0px;
	background: #fff;
	border-bottom: 0;
}
.brand_name ul li a{
	color:#333;
	font-size: 12px;

}
.brand_name ul li:hover{
	background: #fff;
}
.brand_name ul li a:hover{
	cursor: pointer;
	color:#b81c22;
}

/*促销活动，三级菜单右侧*/
.menu_thr_r{
	float: right;
}
.menu_thr_r h4{
	border:0;
}
.menu_thr_r a img{
	display: block;
	width: 180px;
	height: 124px;
	margin-bottom: 10px;
}
/*menu_nav*/
.menu_nav ul li{
	float: left;
}
.menu_nav ul li a{
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding:0px 15px;
}
.menu_nav ul li a:hover{
	cursor:pointer;
}
/*menu_notice*/
.menu_wrap{
	position: relative;
}
.menu_notice{
	position: absolute;
	top:42px;
	right:0px;
	width: 200px;
	height: 360px;
	z-index: 10000;
}
.menu_notice p{
	height: 35px;
	line-height: 35px;
	padding:0px 10px;
	font-size:14px;
	background: #fff;
}
.menu_notice p span{
	float: left;
}
.menu_notice p a{
	float:right;
}
#icon_notice{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/icon_index.png) no-repeat ;
	background-position: -240px -80px;	
	vertical-align: middle;
	float: left;
	margin-top: 8px;
	margin-right: 5px;
}
.notice dt{
	height: 135px;
	padding: 10px 10px 0px;
	background: #fff9e9;
}
.notice dt a{
	display: block;
	padding:5px 0px;
}
.notice dd{
	width:200px;
	height: 180px;
}
.notice_first{
	color:#b81c22;
}
/*banner轮播图*/
.banner{
	width:100%;
	height: 360px;
}
.banner ul{
	width: 100%;
	height: 100%;
	position: relative;
}
.banner ul li{
	position: absolute;
}
.banner ul li a{
	display: block;
	width: 100%;
	height: 100%;
}
.banner ul li img{
	width: 100%;
	height: 360px;
}
#banner_first{
	z-index: 2;
}
.bannerIndex{
	position: absolute;
	bottom:10px;
	z-index: 999999;
}
.bannerIndex span{
	display:inline-block;
	width: 21px;
	height: 20px;
	background: url(../img/icon_index.png) no-repeat;
	background-position: 1px -400px;
	margin: 0 5px;
	color:#fff;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
}
.bannerIndex span:hover{
	cursor:pointer;
	color:#B81C22;
}
.bannerIndex span.backChange{
	background-position: -79px -400px;
}
/*品牌特卖brandDiscount*/
.saleTitle{
	margin:15px 0px;
}
.saleTitle h1{
	font-weight: normal;
	float: left;
}
.saleTitle p{
	float: left;
	background: url(../img/bg-slash.jpg) repeat-x 0 center;
	width: 810px;
	height:36px;
	margin:0px 10px;
}
.saleTitle a{
	float: right;
	display: inline-block;
	height:36px;
	width:64px;
	text-align: center;
	line-height: 28px;
	/*border:1px solid red;*/
	margin:5px 10px 0px;
}
.saleTitle a{
	font-size: 14px;
	color:#666;
}
.saleTitle .saleTitFirst{
	color:#fff;
	background: url(../img/icon_index.png) no-repeat;
	background-position: -320px -80px;
}

.saleContent{
	overflow: hidden;
}
.saleContent ul {
	width: 1300px;
	height: 180px;
}
.saleContent ul li{
	float: left;
	margin-right: 20px;
	overflow: hidden;
}
.discountContent ul li{
	width:280px;
	height: 180px;
}
.discountContent ul li a img{
	display: block;
	width: 280px;
	height: 180px;
	position: relative;
}
/*限时抢购timetobuy*/
#icon_clock{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/icon_index.png) no-repeat ;
	background-position: -0px -242px;	
	vertical-align: middle;
	float: left;
	margin:10px 8px 0px;
}
#timeLeft{
	float: left;
	margin:10px 3px 0px;
}
.timeToBuyTitle p{
	width:720px;
}
.timeToBuyCont ul li{
	padding-top:15px;
	border:1px solid #d7d7d7;
	width:178px;
}
.timeToBuyCont img{
	display: block;
	width: 178px;
	
}
.namePrice{
	padding:12px ;
	width:138px;
}
.namePrice p{
	margin-bottom: 15px;
}
.price{
	color:#b81c22;
	font-size:16px;
	margin-right: 7px;
}
.buy{
	display: inline-block;
	width: 65px;
	height: 25px;
	background:#b81c22;
	color:#fff;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
}
/*白酒*/
/*title*/
.title{
	padding:20px 0px 10px;
	height:36px;
	position: relative;
}
.title span,.title h1{
	float: left;
}
.title h1{
	font-weight: normal;
	margin-left: 8px;
}
.title ul,.title a{
	float: right;
	font-size: 16px;
	color:#666;
}
.icon_wine{
	display: block;
	width: 30px;
	height: 34px;
	background: url(../img/icon_index.png) no-repeat;
}
.icon_white{
	background-position: -80px -240px;
}
.icon_red{
	background-position: -160px -240px;
}
.icon_foreign{
	background-position: -240px -240px;
}
.icon_other{
	background-position: -320px -240px;
}
.title ul li{
	float: left;
	padding:0px 20px;
	height: 36px;
	line-height: 36px;
	
}
.title ul li:hover{
	color:#b81c22;
	cursor:pointer;
	font-weight: bold;
}
.title a{
	padding:0 20px;
	margin-top: 7px;
}
.title a:hover{
	color:#b81c22;
	cursor: pointer;
}
/*横线、移动箭头*/
.line{
	height: 0;
	border: 1px solid #b81c22;
	position: relative;
}
.arrow{
	position: absolute;
	height: 0;
	width: 0;
	border-width: 0px 4px 5px;
	border-color: transparent transparent #b81c22 transparent;
	border-style:solid;
	top:-6px;
}
/*content*/
.content{
	height:560px;
}
/*content_l*/
.content_l{
	width: 200px;
	height: 100%;
	float: left;
	overflow: hidden;
}
.content_l ul{
	background: #6dd1f3;
	padding:20px 0px 0px 20px;
}
.content_l ul li{
	height: 26px;
	width: 70px;
	margin:0px 20px 20px 0px;
	position: relative;
	float: left;
}
.content_l ul li a{
	display: block;
	height: 26px;
	width: 70px;
	border-radius: 15px;
	background: #76eeff;
	position: absolute;
	z-index: 10;
	color:#fff;
	line-height: 26px;
	text-align: center;
}
.content_l ul li a:hover{
	width: 76px;
	height: 30px;
	left: -3px;
	top:-2px;
	font-size:14px;
	line-height: 30px;
	text-align: center;
	text-decoration: underline;
}
.content_l img{
	height: 370px;
	width: 200px;
}
/*content_c*/
.content_c{
	width: 800px;
	height: 560px;
	float: left;
	overflow: hidden;
	position: relative;
}
/*.content_c div{
	width: 800px;
	height: 560px;
	position: absolute;
}*/
.content_c  ul li{
	float: left;
	position: relative;
	width:179px;
	height: 259px;
	border-right:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	padding:10px;
}
.wineImg{
	width: 180px;
}
.sales{
	position: absolute;
	left:1px;
	top:0;
}
.details{
	padding:10px;
}
.details p{
	margin-bottom: 5px;
	height:35px;
}
/*content_r*/
.content_r{
	float: right;
	width: 180px;
	height: 560px;
}
.content_r img{
	width:180px;
	height:280px;
}
/*酒品牌连接wineBrand*/
.wineBrand{
	border:1px solid #d7d7d7;
	height: 64px;
	margin-top: 20px;
}
.wineBrand ul li{
	float: left;
	width:100px;
	height: 64px;
	position: relative;
}
#brand_last{
	width:78px;
}

.wineBrand ul li img{
	width:100%;
	height: 100%;
}
.wineBrand ul li a{
	display: none;
	width:100%;
	height: 100%;
	position: absolute;
	left:0;
	top:0;
	line-height: 64px;
	text-align: center;
	color:#fff;
}
.wineBrand ul li:hover a{
	display: block;
	background: #4c4c4c;
	opacity: 0.9;
	filter:alpha(opacity=90);
}
/*品质服务service*/
.service{
	background: #f2f2f2;
	margin-top: 40px;
}
.serv{
	padding:30px 0px 30px 40px;
	width: 1120px;

}
.serv dl{
	float: left;
	margin-right: 90px;
}
.serv dl dt{
	width: 76px;
	height: 76px;
	background: url(../img/icon_index.png) no-repeat;
	margin:0 auto;
}
.serv .pinzhi {
	background-position: 0px -320px;
}
.serv dl dd{
	text-align: center;
}
.serv dl dd h2{
	margin: 15px 0 10px;
	font-size:16px;	
}
.serv dl dd p{
	color:#666;
}
.serv .jiulei {
	background-position: -80px -320px;
}
.serv .tuihuo {
	background-position: -160px -320px;
}
.serv .peisong {
	background-position: -240px -320px;
}
.serv .koubei {
	background-position: -320px -320px;
}
.serv .fuwu {
	background-position: -400px -320px;
}
/*guide指南、微信*/
/*指南*/
.guide{
	padding:40px 0px 60px;
}
/*guide左侧guide_l*/
.guide_l{
	float: left;
}
.guide_l ul{
	float: left;
	margin-right: 100px;
}
.guide_l ul h3{
	padding-bottom: 5px;
}
.guide_l ul li{
	margin-top: 5px;
}
.guide span{
	float: left;
	width:1px;
	height: 120px;
	background: #666;
}
/*guide右侧guide_r*/
.guide_r{
	float: right;
}
.guide_r dl{
	float: left;
	margin-left: 65px;
}
.guide_r dl dt{
	padding-left:5px;
}
.guide_r dl dd{
	text-align: center;
}
.guide_r dd img{
	width: 77px;
	height: 77px;
	margin: 10px 0px;
}
/*bottom*/
.bottom{
	width:100%;
	height:40px;
	background: #313131;
	text-align:center;
	line-height: 40px;
}
.bottom a,.bottom span{
	color:#fff;
	font-size:14px;
	
}
.bottom span{
	padding:0px 10px;
}
/*footer*/
.footer{
	text-align: center;
	width: 100%;
}
.footer p{
	margin: 20px 0px 40px;
	color:#666;
}
.footer span{
	margin-bottom: 30px;
	color:#666;
}
.beian{
	margin: 15px auto 40px;
	width: 670px;
	height: 40px;

}
.beian img{
	width: 670px;
	height: 40px;
}
/*stairLayer*/
.shopLayer{
	position: fixed;
	top: 35%;
	left:10px;
	/*background: blue;*/
	z-index: 9999999;
	border: 1px solid #e8e8e8;
	border-bottom: 0;
}
.shopLayer span{
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size:16px;
	border-bottom: 1px solid #e8e8e8;
	background: #eee;
	color:#999;
	display: none;
}
.shopLayer span{
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size:14px;
	border-bottom: 1px solid #e8e8e8;
	
	background: #3e3e3e;
	color:#9f9f9f;
	display: none;
	position: absolute;
	left:0;
	top:0;
}
.shopLayer li{
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size:16px;
	border-bottom: 1px solid #e8e8e8;
	background: #eee;
	color:#999;
	position: relative;
}
.shopLayer li:hover span{
	cursor: pointer;
	display: block;
}
.shopLayer span.current{
	color:#b81c22;
	background: pink;
	display: block;
}